{% extends 'base.html.twig' %}

{% block body %}
    <aside class="fixed inset-0 -z-10 pointer-events-none" aria-hidden="true">
        {% include '@main/background.html.twig' %}
    </aside>
    <main class="relative z-10 w-full min-h-screen text-white flex flex-col">
        <section class="flex flex-col md:flex-row h-[100vh]" aria-label="Présentation Principale">
            <article class="w-full md:w-1/2 h-full p-8 flex flex-col justify-center items-center">
{#               Left content#}
            </article>
            <article class="w-full md:w-1/2 h-full p-8 flex flex-col justify-center items-center">
{#                Right content#}
            </article>
        </section>
    </main>
{% endblock %}
